<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página de recuperación de contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card class="auth-form">
  <ion-card-header>
    <ion-card-title>Recuperar contraseña</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item *ngIf="email.invalid && email.touched" lines="none">
        <ion-text color="danger" class="form-error">
          Por favor, introduce una dirección de correo electrónico válida.
        </ion-text>
      </ion-item>

      <ion-button type="submit" expand="block" [disabled]="loading || !form.valid">
        {{ loading ? 'Loading...':'Enviar correo electrónico de recuperación de contraseña'}}
      </ion-button>
    </form>

    <ion-text class="extra-options">
      ¿Ya tienes una cuenta?
      <a [routerLink]="['/auth/login']">Iniciar sesión</a>
    </ion-text>
  </ion-card-content>
</ion-card>